/*
Error: Undefined mixin 'transition'.
        on line 16 of _layouts.scss, in `transition'
        from line 16 of _layouts.scss

11: }
12: 
13: 
14: .dtn-content {
15: 	height: 100%;
16: 	@include transition(all .3s);
17: }
18: 
19: // Header
20: 
21: .header {

Backtrace:
_layouts.scss:16:in `transition'
_layouts.scss:16
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:351:in `visit_mixin'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/stack.rb:98:in `with_mixin'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/stack.rb:98:in `with_mixin'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:433:in `visit_rule'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:433:in `map'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:433:in `visit_rule'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:169:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/base.rb:36:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:159:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:8:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/engine.rb:298:in `render_with_sourcemap'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/exec/sass_scss.rb:391:in `run'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/../lib/sass/exec/base.rb:19:in `parse!'
/usr/lib/ruby/gems/1.8/gems/sass-3.4.23/bin/sass:13
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'transition'.\A         on line 16 of _layouts.scss, in `transition'\A         from line 16 of _layouts.scss\A \A 11: }\A 12: \A 13: \A 14: .dtn-content {\A 15: 	height: 100%;\A 16: 	@include transition(all .3s);\A 17: }\A 18: \A 19: // Header\A 20: \A 21: .header {"; }
