
// Blog

// Blog Item
$blog-color: #202020 !default;
$blog-font-size: 16px !default;

$blog-item-margin: 0 0 35px 0 !default;
$blog-item-padding: 0 !default;

$blog-item-bg: #fff !default;
$blog-item-border-radius: 5px !default;
 
$blog-color-link: #f36523 !default;

$blog-name-color: #202020 !default;
$blog-name-font-size: 20px !default;
$blog-name-font-weight: 900 !default;